<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="reviewService"
 		class="com.test.reviewWebApi.service.ReviewService">
 		</bean>

 	<bean id="qaModelDao"
 		class="com.test.reviewWebApi.Dao.QaModelDao">
 		</bean>
 		 	
 	<bean id="qaModel"
 		class="com.test.reviewWebApi.model.QaModel">
 		</bean>

 </beans>
